h1,
h2 {
  font-family: Lato;
}

ul {
  list-style-type: none;
}

a::before {
  content: '\\1F517 ';
}
a::after {
  content: ' (' attr(href) ')';
}
ul[data-label-simple] li::before {
  content: attr(data-label-simple) ' ';
  left: -1em;
}
/* li[data-label-simple='25CB']::before {
  content: '\25cb';
  margin-left: -.815em;
} */
li[bg]{
  background-color: red;;
}