h1,
h2 {
  font-family: Lato;
}

ul {
  list-style-type: none;
}

a::before {
  content: '\\1F517 ';
}
a::after {
  content: ' (' attr(href) ')';
}

li[data-label-simple='25CB']::before {
  content: '\25cb';
  margin-left: -.815em;
}
